<%-include('navbar')-%>



    <div class=" text-center my-4">
        <h1>Data is fetched from the API and saved in database.</h1>
        <h3>Click the given button below to retrive the stored data from database</h3>
        <a class="btn btn-light my-3" href="/landing">Get data</a>
    </div>